# Example https and HTTP/2 server
#
# Port 8443 is port 443
# This needs to be notified if used in container

server {
    listen 8443 ssl http2;

    server_name localhost;
    root /srv/www/htdocs/container-root/;
    index index.html index.htm index.nginx-debian.html;

    # Some minor tuning how caches will behave
    include conf.d/blocks/locations.conf;

    # Some minor tuning how caches will behave
    include conf.d/blocks/expires.conf;

    # Only allow HEAD, GET and POST
    # Otherwise code 444 returned
    # include conf.d/blocks/methods.conf;

    # Mainly stuff that are done with script and
    # attacks against PHP based systems. Most of
    # them try to install rootkit
    # HTTP code 444 returned if in map
    include conf.d/blocks/special_attack.conf;

    # Do not allow sensitive locations sniffing
    # HTTP code 444 returned if in map
    include conf.d/blocks/http_agent.conf;

    # Do not allow sensitive locations sniffing
    # HTTP code 444 returned if in map
    include conf.d/blocks/sensitive_locations.conf;

    # Wordpress sniffing URL's if don't host Wordpress you should
    # use these and if you do then you should probably keep wp-admin
    # somewhere else
    # HTTP code 418 returned if in map
    include conf.d/blocks/wordpress_locations.conf;

    # Remove some CGI sniffing locations
    # HTTP code 444 returned if in map
    # include conf.d/blocks/cgi_locations.conf;

    # Add SSL headers
    include conf.d/header/ssl_headers.conf;

    access_log /var/log/nginx/port443example_access.log;
    error_log /var/log/nginx/port443example_error.log;
}
